<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #004481;">
  <div class="container-fluid">
    <img src="assets/bandera.svg"> <a class="navbar-brand" href="#">&nbsp;&nbsp;Grandes empresas colombianas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      
        <li class="nav-item dropdown">

          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
        <input class="form-control me-2" 
               type="search" 
               placeholder="Buscar empresa..." 
               aria-label="Search"
               #txtSearch (keyup) = "onSearchEmpresa(txtSearch.value)"/>
    </div>
  </div>
</nav>
<br>
<br>
<div *ngIf="empresas != null; else espera" class="m-0 row justify-content-center">

  <div *ngFor="let empresa of empresas | filtro:page:search" class="card mb-3 element-b" style="max-width: 540px;">
    <div class="row g-0 ">
      <div class="col-md-4">
        <img src="assets/empresa.svg" class="empresa-class" alt="Empresa">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><strong>razón social: </strong><br>{{ empresa.razon_social }}</h5>
          <p class="card-text"><strong>Ingresos operacionales: </strong><br>{{empresa.ingresos_operacionales_2018}}</p>
          <p class="card-text"><strong>dirección: </strong><br>{{empresa.ciudad_domicilio}}</p>
          <p class="card-text"><small class="text-muted"><strong>Macrosector:</strong>{{empresa.macrosector}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-d">
    <button class="btn btn-light" (click) = "prevPage()">Anterior</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-light" (click) = "nextPage()">siguiente</button>
  </div>
  <br>
  <br>
</div>

<ng-template #espera>Esperando datos...</ng-template>